<div id="<%= dom_id annoucement %>">
  <p>
    <strong>User:</strong>
    <%= annoucement.user.email %>
  </p>


  <p>
    <strong>Title:</strong>
    <%= annoucement.title %>
  </p>

  <p>
    <strong>Content</strong>
    <%= annoucement.content %>
  </p>
</div>
