<%#= turbo_frame_tag "annoucements" do %>
<%#= render "announcements" %>
  <% if annoucements.any? %>
    <div id="annoucements">
      <% annoucements.each do |annoucement| %>
        <%= render annoucement %>
        <p>
          <%= link_to "Show this announcement", annoucement %>
        </p>
      <% end %>
    </div>
  <% else %>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <%= render 'shared/no_data', title: 'No Annoucements Yet', description: 'Post Annoucement, pitch ideas and gather feedback while keeping discussions organized and on-topic' %>
    </div>
  <% end %>
<%# end %>