<%= turbo_frame_tag "new_form" do %>
  <%= form_with(model: message) do |form| %>
    <div class="position-relative">
      <%= form.text_field :content, class: 'form-control py-3', required: true %>
        <div class="position-absolute top-50 end-0 translate-middle-y me-4">
        <%= form.button type: 'submit', class: 'icon-submit-btn p-0' do %>
          <i class='bi bi-caret-right-fill text-primary fs-2'></i>
        <% end %>
        </div>
    </div>
  <% end %>
<% end %>
