<!-- _form.html.erb -->
<%= form_with(model:[annoucement, comment], local: true, data: { turbo: false }) do |form| %>
  <div class="form-group">
    <%= form.text_area :content, rows: 3, placeholder: 'Add comment...',  class: 'form-control', required: true %>
  </div>
  <div class="mt-3">
    <%= form.submit 'Post Comment', class: 'btn btn-secondary' %>
  </div>
<% end %>