<div class="home-board-card col border border-1 rounded overflow-hidden p-0 pb-4">
    <div class="home-board-card-header">
        <h5 class="text-center border border-b p-2"><%= card_title %></h5>
    </div>
    <div class="home-board-card-body">
        <figure class="d-flex justify-content-center">
            
        </figure>
        <p class="text-center text-muted p-3">
            <%= card_description %>
        </p>
    </div>
    <div class="home-board-card-btn-container d-flex justify-content-center mt-4">
        <%= link_to "See More", card_link, class:'btn btn-primary'%>
    </div>
</div>