    <div>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary d-flex gap-2 align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-plus"></i> <%= content%> 
      </button>

        <!-- Modal -->
        <div class="modal fade bg-danger" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class=" modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content p-4">
              <div class="modal-body">
                <h5 class="fw-bold"><%= title %></h5>
                hello
              </div>
            </div>
          </div>
        </div>
    </div>