
<figure class=" rounded-circle overflow-hidden mb-0" style="width: 30px; height:30px" >
    <%= image_tag url_for(user.avatar_icon), class: 'w-100 h-100', style: 'object-fit: cover;' %>
</figure>
<p class="text-capitalize text-muted fw-semibold"><%= user.full_name %></p>