<section class="home-section pt-5">
  <h2 class="text-center">Website Redesign</h2>
  <p class='text-center'>Everything related to the redesign of our Website</p>

  <div class="home-board-card-container row gap-4 w-75 mx-auto mt-5">
    <% @cards.each do |card| %>
      <%= render partial: 'shared/board_card', locals: {card_title: card[:title], card_description: card[:description], card_link: card[:link] }%>
    <% end %>
  </div>
<%= button_to "Log Out", destroy_user_session_path, method: :delete, class:'btn btn-primary', data: { turbo: false } %>

</section>