

<div id="to_dos">
  <% @to_dos.each do |to_do| %>
    <%= to_do.name %>
    <p>
      <%= link_to "Show this to do", to_do %>
    </p>
  <% end %>
</div>

<%= link_to "New to do", new_to_do_path %>
  