<section class="d-flex flex-column align-items-center gap-4">
    <h2 class="text-center fw-bold text-black mt-4">Create a new To Do </h2>
  <div class="to-do-form-container w-75  rounded  border" >
    <%= render "form", to_do: @to_do %>
  </div>
</section>

