<section class="d-flex flex-column container gap-4">
  <h2 class=" fw-bold text-black mt-4">Add To Dos </h2>
  <div class="to-do-form-container w-75  rounded  border" >
    <%= render "form", to_do: @to_do %>
  </div>
</section>

