.form-title {
    font-size: 2.5rem;
    font-weight: 700;
    border: none;
    padding:  10px 0px;
    width: 100%;
}

.form-label {
    font-weight: 600;
}

.form-title:focus-within {
    border: none;
    outline: none;
}

.form-rich-text {
    border: none;
    min-height: 300px;
    overflow: auto;
}