@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './components/form';
@import './components/home_board_card';
@import './components/to_do_card';
@import './vendor/sidebar';
@import './vendor/tribute';
@import './vendor/simple_calendar';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $text;
  background-color: $background;
}

.hidden {
  display: none;
} 

p {
  margin: 0;
}

.st-multi-select {
  display: flex;

  > * {
    align-self: center;
  }

  .st-multi-select__handler {
    padding: 6px 10px;
    margin: 0 10px;
  }
}

.icon-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

// custom color class 
.bg-light-grey {
  background-color: $lightGrey;
}

.icon-submit-btn {
  background: none;
}

.icon-submit-btn:focus {
  border: none;
  outline: none;
  opacity: 80%;
}

.home-board-annoucement-card-text .trix-content {
  max-width: 70%;
  max-height: 100px;
  overflow: hidden;
}

.ss-main {
  border-radius: 20px !important;
  padding: 10px !important;
}

.message-section {
  height: 75vh;
  max-height: 75vh;
}

.message-container {
  overflow-y: auto;
  min-height: 500px;
  position: relative;
}

.message-input {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#messages-list * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

.auto-expand {
  resize: none; /* Prevent manual resizing */
  overflow: hidden; /* Hide scrollbars until necessary */
}
.reply-comment-icon-wrapper {
  z-index: 10;
}

.reply-comment-icon-wrapper::before {
    content: "";
    background: var(--bs-border-color);
    width: 3em;
    height: 1px;
    position: absolute;
    top: 20%;
    left: -48px;
    z-index: -1;
}


