$primary: #7BD3EA;
$secondary: #A1EEBD;
$background: #ffffff;
$text: #333333;
$success: rgba(102, 187, 106, 0.8);  // 80% opacity
$warning: rgba(255, 245, 204);
$danger: rgb(255, 138, 138, 0.8);   // 80% opacity
$info: rgba(41, 182, 246, 0.8);      // 80% opacity
$text-muted:#343A40;
$lightGrey: #F4F4F4;

// dropdown color change 
$dropdown-link-hover-color: #ffffff; // Change to your desired text color
$dropdown-link-hover-bg: $info;

// card hover color 


