$primary: #7BD3EA;
$secondary: #A1EEBD;
$background: #ffffff;
$text: #343A40;
$success: rgba(102, 187, 106, 0.8);  // 80% opacity
$warning: rgba(255, 167, 38, 0.8);
$danger: rgb(255, 138, 138, 0.8);   // 80% opacity
$info: rgba(41, 182, 246, 0.8);      // 80% opacity



